	<div class="main main__padd-top" role="main">

			<!-- Page Content -->
			<section class="page-content">
				<div class="container">

					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h1>Our Site is launching soon...</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis congue eros. Quisque sagittis volutpat metus nec tristique. Justo, id egestas ligula fringilla interdum. Suspendisse id justo non nibh volutpat faucibus et vel justo.</p>
						</div>
					</div>

					<div id="countdown" class="countdown text-center">
						<div class="row">
							<div class="col-sm-3 col-md-3 col-lg-offset-2 col-lg-2 text-center">
								<input class="knob" id="days" data-readonly=true data-min="0" data-max="99" data-skin="tron" data-width="165" data-height="165" data-thickness="0.2" data-fgcolor="#a6ce39">
								<span class="count-label">days</span>
							</div>
							
							<div class="col-sm-3 col-md-3 col-lg-2">
								<input class="knob" id="hours" data-readonly=true data-min="0" data-max="24" data-skin="tron" data-width="165" data-height="165" data-thickness="0.2" data-fgcolor="#a6ce39">
								<span class="count-label">hours</span>
							</div>
							
							<div class="col-sm-3 col-md-3 col-lg-2">
								<input class="knob" id="mins" data-readonly=true data-min="0" data-max="60" data-skin="tron" data-width="165" data-height="165" data-thickness="0.2" data-fgcolor="#a6ce39">
								<span class="count-label">minutes</span>
							</div>
							
							<div class="col-sm-3 col-md-3 col-lg-2">
								<input class="knob" id="secs" data-readonly=true data-min="0" data-max="60" data-skin="tron" data-width="165" data-height="165" data-thickness="0.2" data-fgcolor="#a6ce39">
								<span class="count-label">seconds</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<hr class="lg">
						</div>
					</div>

					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<form action="#" class="newsletter-form">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Enter your email here">
									<span class="input-group-btn">
										<button class="btn btn-success" type="button"><i class="fa fa-arrow-circle-o-right"></i></button>
									</span>
								</div>
							</form>
						</div>
					</div>

				</div>
			</section>
			<!-- Page Content / End -->
