<p id="notice"><%= notice %></p>

<p>
  <strong>Comming:</strong>
  <%= @static_page.comming %>
</p>

<%= link_to 'Edit', edit_static_page_path(@static_page) %> |
<%= link_to 'Back', static_pages_path %>

<!-- Correction -->