<!DOCTYPE <html>
<head>
	<meta content='text/html; charset=UFT-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Bienvenido a Adopta-Me, <%= @user.name %></h1>
	<p>
		Tu correo ha sido enviado satisfactoriamente y su identificador es:
		<%= @user.identificador %>, <br/>
	</p>
	<p>
		Recuerda visitarnos en: <a href="<%= @url %>">Adopta-Me</a>
	</p>
	<p>
		Te recomiendo revisar todas las mascotas que tenemos disponibles para adopción, así como a revisar las Fundaciones que tenemos vinculadas actualmente a nivel nacional.
	</p>
	<p> Hasta Pronto!</p>
</body>
</html>